<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" data-keyboard="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{getTranslation('close')}}"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="share-wrapper" class="text-center"></div>
        <div id="share-email-wrapper">
          <span>{{getTranslation('email_addresses')}}</span>
          <i class="fa fa-question-circle" aria-hidden="true" uib-tooltip="Separate different emails by a comma"></i><br>
          <input class="form-control" ng-model="vm.shareEmails"><br>
          <span>{{getTranslation('comment')}}</span><br>
          <textarea class="form-control clearfix" ng-model="vm.comment"></textarea><br>
          <input type="hidden" id="shared-url" value="">
          <button class="btn btn-default" ng-click="vm.closeModal()">{{ getTranslation('cancel') }}</button>
          <button class="btn btn-primary" ng-click="vm.sendEmail()">{{getTranslation('send')}}</button>
        </div>
      </div>
    </div>
  </div>
</div>