<!-- Left Sidebar Start -->
<div class="left side-menu">
    <div class="sidebar-inner">
        <div id="sidebar-menu">
            <ul>
                <li ng-repeat="item in vm.dashboardMenu">
                    <a ui-sref="layout.dashboard({id:item.id})" ui-sref-active="active">
                        <i class="{{item.icon}}" aria-hidden="true"></i>
                        <span>{{item.title}}</span>
                    </a>
                </li>

                <li class="menu-item-divider"></li>

                <li ng-repeat="item in vm.metricMenu">
                    <a ui-sref="layout.metric({id:item.id})" ui-sref-active="active" title="{{item.title}}">
                        <i class="{{item.icon}}" aria-hidden="true"></i><span>{{item.title}}</span>
                    </a>
                </li>

                <li class="menu-item-divider"></li>

                <li class='has_sub' ng-click="vm.showSubMenu()">
                    <a ng-class="vm.isActive($state.current.name)"
                        href='javascript:void(0);'><i class="fa fa-user" aria-hidden="true"></i><span>{{ getTranslation('administrator_settings') }}</span>
                    <span class=""><i class="menu-arrow fa fa-angle-down"
                                      ng-class="{'fa-angle-down':!vm.subMenuIsOpen,'fa-angle-up':vm.subMenuIsOpen,}"></i></span></a>
                    <ul ng-class="{'show-menu':vm.subMenuIsOpen, 'admin-menu-mobile':vm.isSidebarOpen}">
                        <li>
                            <a ui-sref="layout.user" ui-sref-active="active">
                                <i class="fa fa-address-card-o"></i> <span>{{ getTranslation('manage_users') }}</span>
                            </a>
                        </li>

                        <li>
                            <a ui-sref="layout.financialData" ui-sref-active="active">
                                <i class="fa fa-table"></i> <span>{{ getTranslation('financial_inputs') }}</span>
                            </a>
                        </li>

                        <li>
                            <a ui-sref="layout.connector" ui-sref-active="active">
                                <i class="fa fa-folder-o"></i> <span>{{ getTranslation('data_sources') }}</span>
                            </a>
                        </li>

                        <li>
                            <a ui-sref="layout.site_settings" ui-sref-active="active">
                                <i class="fa fa-cog"></i><span>{{ getTranslation('site_settings') }}</span>
                            </a>
                        </li>

                        <li ng-if="isAdmin" ui-sref-active="active">
                            <a ui-sref="layout.surveys">
                                <i class="fa fa-question-circle-o"></i> <span>{{ getTranslation('surveys') }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Left Sidebar End -->
