#nlp-search

  .search-bar
    width: 100%
    background: #ffffff
    min-height: 65px
    padding: 10px 20px
    margin-bottom: 20px
    display: flex
    align-items: center

  .search-title
    display: inline-block
    padding: 0 20px
    white-space: nowrap
    font-size: 18px

  .search-button
    display: flex
    padding: 7px 25px 4px
    font-size: 20px
    font-weight: 600
    line-height: 32px
    border: 1px solid #8ce4c6
    border-radius: 6px
    color: #46be8a
    background-color: #ffffff

    .form-control-feedback
      position: initial
      display: inline-block

  .form-control
    border: none
    box-shadow: none
    font-size: 18px
    padding: 0
    border-radius: 0
    border-bottom: 1px solid #d7d7d7

  .with-autocomplete
    width: 100%
    position: relative
    margin-right: 40px

    .list-group
      position: absolute
      width: 100%
      margin-top: 3px
      z-index: 10

      .list-group-item:hover
        cursor: pointer
        background-color: #f6f6f6

  .media
    position: relative
    min-height: 144px
    border: 2px solid #d7d7d7
    border-radius: 2px
    padding-top: 10px
    margin-bottom: 10px
    cursor: pointer
    background: seashell
    transition: background 0.3s linear

    &:hover
      background: lightblue

  .link-wrap
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .media-left
    padding-bottom: 10px
    padding-left: 8px
    vertical-align: middle

  .media-body
    padding: 0 30px

  .divider
    margin-bottom: 15px
    border-top: 1px solid #d7d7d7

  p
    display: inline-block
    font-size: 12px

  .title
    width: 120px


