<div id="nlp-search">

    <div class="margin-negative-10">

        <div class="container-fluid">

            <div class="row">


                <!-- Search bar  -->

                <form name="search" class="search-bar" ng-submit="vm.submit()">

                    <span class="search-title">{{ getTranslation('showing_results_for') }}:</span>

                    <div class="with-autocomplete">

                        <input type="text"
                               class="form-control form-control-small"
                               placeholder="{{ getTranslation('search_the_system_in_natural_language') }}"
                               ng-model="vm.selected"
                               ng-change="vm.onChange()"
                               uib-typeahead="query for query in vm.match($viewValue)"
                               typeahead-on-select="vm.addToString($item)"
                        >

                    </div>

                    <button class="search-button"
                            type="submit">

                    <i class="fa fa-search form-control-feedback"></i>
                        {{ getTranslation('search') }}
                    </button>

                </form>

            </div>

        </div>

    <div ng-show="!vm.queryResults"><h4>No Results Found</h4></div>
    <!-- Chart -->
    <div class="chart chart-recommended-charts"
         ng-show="vm.queryResults">

        <!-- Chart content -->
        <div class="chart-content clearfix" uib-collapse="isRCCollapsed">

            <!-- List of resulting charts -->
            <div class="container-fluid container-gutter-10">
                <div class="row">

                    <div class="col-md-12 col-lg-12"
                         ng-repeat="result in vm.queryResults">

                        <div class="media">

                            <a class="link-wrap"
                               href="#/drill-down/{{result.Chart.trendata_chart_id}}"></a>

                            <div class="media-left">
                                <a href="#">
                                    <div class="Reco-Circle-Big inline-block"></div>
                                    <!-- <img class="media-object" ng-src="content/images/drill_down/{{result.img}}.jpg"> -->
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{getTranslation(result.Chart.trendata_chart_title_token)}}</h4>

                                <p>{{getTranslation(result.Chart.trendata_chart_description_token) || 'No description'}}</p>

                                <div class="divider"></div>

                                <div>
                                    <p class="title">{{ getTranslation('last_update') }}:</p>
                                    <p>{{result.Chart.updated_at | date : 'HH:mm on MMM d, yyyy'}}</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    </div>

</div>