.modal-manage-columns {
  padding-bottom: 20px;
  text-align: center;

  .manage-header {
    padding: 15px 0;
    background-color: beige;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    margin-bottom: 30px;

    h3 {
      margin-top: 0;
    }
  }

  .selected-columns div:nth-child(odd) {
    background: #f5f5dc;
  }

  .manage-columns .manage-columns-list {
    border: 1px solid #aaa;
    width: 200px;
    height: 250px;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
    text-transform: capitalize;

    div {
      cursor: pointer;
      padding: 0 10px;
    }

    .selected {
      background: #ddd;
    }

    .dragging {
      height: 0;
      overflow: hidden;
    }
  }

  .manage-columns-buttons {
    padding-top: 120px;

    button {
      margin-bottom: 10px;
    }
  }

  .manage-save-option {
    margin-top: 20px;

    select {
      background: none;
      border-radius: 3px;
      padding-top: 3px 5px;
      margin-left: 5px;
    }
  }

  .manage-buttons {
    margin-top: 40px;

    button {
      margin: 0 10px;
    }
  }

  .column-manage {
    cursor: pointer;
  }
}