<div class="modal-manage-columns">
    <div class="manage-header">
        <h3>Select fields to show in the grid.</h3>
    </div>

    <div class="row">
        <div class="manage-columns col-md-5">
            <h4>Available Fields</h4>

            <div class="manage-columns-list" dnd-list="uncheckedColumns">
                <div dnd-draggable="column"
                     ng-repeat="column in uncheckedColumns"
                     ng-class="{selected: column.selected, dragging: column.dragging}"
                     ng-click="selectColumn($event, column, uncheckedColumns)"
                     dnd-moved="uncheckedColumns.splice($index, 1)"
                     dnd-dragstart="column.dragging = true;"
                     dnd-dragend="column.dragging = false;">
                    {{cutCustom(column.value)}}
                </div>
            </div>
        </div>

        <div class="manage-columns-buttons col-md-2">
            <button class="btn btn-primary" ng-click="moveToChecked()">&rarr;</button>
            <button class="btn btn-primary" ng-click="moveToUnchecked()">&larr;</button>
        </div>

        <div class="manage-columns selected-columns col-md-5">
            <h4>Selected Fields</h4>

            <div class="manage-columns-list" dnd-list="checkedColumns">
                <div dnd-draggable="column"
                     ng-repeat="column in checkedColumns"
                     ng-class="{selected: column.selected, dragging: column.dragging}"
                     ng-click="selectColumn($event, column, checkedColumns)"
                     dnd-moved="checkedColumns.splice($index, 1)"
                     dnd-dragstart="column.dragging = true;"
                     dnd-dragend="column.dragging = false;">
                    {{cutCustom(column.value)}}
                </div>
            </div>
        </div>
    </div>

    <div class="manage-save-option">
        <span>Save Option</span>
        <select ng-model="forAllCharts">
            <option value="">This Grid Only</option>
            <option value="1">All System Grids</option>
        </select>
    </div>

    <div class="manage-buttons">
        <button class="btn btn-xlpad btn-default" ng-click="$close()">Cancel</button>
        <button class="btn btn-xlpad btn-primary" type="button" ng-click="save()">Save</button>
    </div>
</div>
