<!-- wrapper to shift child containers to -10px on left and right -->
<div class="margin-negative-10">

    <div class="header-bar text-center" ng-style="{'background-color': vm.lastUploadedBg()}">
        {{ getTranslation('last_uploaded_file') }}: {{ vm.lastUploaded }}
        <span ng-if="videoUrl" class="fa fa-video-camera pull-right" ng-click="vm.playVideo()"
              uib-tooltip="{{getTranslation('help_video')}}"></span>
        <span class="fa fa-clock-o pull-right" ng-click="vm.choosePeriod()"
              uib-tooltip="{{getTranslation('metric_history')}}"></span>
        <span class="pull-right">{{vm.selectedPeriod}}</span>
    </div>

    <!-- Gridstack Markup -->
    <div class="grid-stack"
         gridstack
         options="labelBoxOptions"
         ng-if="vm.valueBox"
         on-drag-stop="setChartsOrder(vm.valueBox)"
         on-resize-stop="setChartsOrder(vm.valueBox)">

        <!-- item -->
        <div class="grid-stack-item"
             ng-repeat="box in vm.valueBox track by $index"
             gridstack-item
             data-grid-item-index="{{$index}}"
             gs-item-width="box.width"
             gs-item-height="box.height"
             gs-item-min-width="2"
             gs-item-min-height="2"
             gs-item-x="box.x"
             gs-item-y="box.y"
             gs-item-autopos="checkAutopos(vm.valueBox)">

            <div class="grid-stack-item-content">

                <!-- Chart -->
                <div class="chart chart-top-summary">
                    <!-- Chart Header -->
                    <div class="chart-header">
                        <h2>{{box.title}}</h2>

                        <i class="fa fa-question fa-absolute" uib-tooltip="{{box.description}}"
                           tooltip-placement="auto bottom"></i>
                        <!-- Chart option menu -->
                        <div uib-dropdown class="dropdown chart-option-dropdown">
                            <button uib-dropdown-toggle class="btn btn-default dropdown-toggle" type="button"
                                    id="chart-dropdown-a{{$index}}"
                                    aria-haspopup="true" aria-expanded="true"
                                    title="{{vm.TOOLTIP_TILES_MESSAGES.CHART_OPTIONS}}">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right"
                                aria-labelledby="chart-dropdown-a{{$index}}">
                                <li>
                                    <button ng-click="vm.openAlertsModal(box)" class="dropdown-item-btn"
                                            title="{{ getTranslation('alerts') }}">
                                        <span class="fa fa-bell"></span>
                                    </button>
                                </li>
                                <li>
                                    <button ng-click="vm.removeChart(box.id)"
                                            title="{{ getTranslation('remove_chart') }}" class="dropdown-item-btn">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Chart content -->
                    <div class="chart-content">
                        <span class="chart-text-number">{{box.chart_data.data[0].value}}</span><i
                            class="fa text-info"></i>
                        <div class="chart-button-group">
                            <a class="" href="#/drill-down/{{box.parent_id || box.chart_id}}">{{
                                getTranslation('drilldown') }}</a>
                            <a class="" href="#/analytics/{{box.parent_id || box.chart_id}}">{{
                                getTranslation('analytics') }}</a>
                            <a class="" href="#/predictive/{{box.parent_id || box.chart_id}}" ng-if="isAdmin">{{
                                getTranslation('predictive') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Gridstack Markup -->
    <div gridstack class="grid-stack"
         is-chart-resizing="isChartResizing"
         options="options"
         on-window-resize="onWindowResize(gridstack)"
         on-change="onChange(event,items)"
         on-drag-stop="setChartsOrder(widgets)"
         on-resize-start="onResizeStart(event,ui)"
         on-resize-stop="onResizeStop(event,ui)">

        <!-- item -->
        <div class="grid-stack-item"
             gridstack-item
             ng-repeat="w in widgets | limitTo:limit track by $index"
             data-grid-item-index="{{$index}}"
             gs-item-x="w.x"
             gs-item-y="w.y"
             gs-item-width="w.width"
             gs-item-height="w.height"
             gs-item-min-width="vm.TILE_MIN_WIDTH"
             gs-item-min-height="vm.TILE_MIN_HEIGHT"
             gs-item-autopos="checkAutopos(widgets)"
             on-item-added="onItemAdded(item)"
             on-item-removed="onItemRemoved(item)">

            <div class="grid-stack-item-content">

                <div class="chart">
                    <div class="chart-header">
                        <h2>{{w.title}}</h2>

                        <i class="fa fa-question fa-absolute" uib-tooltip="{{w.description}}"
                           tooltip-placement="auto bottom"></i>
                        <!-- Chart option menu -->
                        <div uib-dropdown class="dropdown chart-option-dropdown">
                            <button uib-dropdown-toggle class="btn btn-default dropdown-toggle" type="button"
                                    id="chart-dropdown-{{$index}}"
                                    aria-haspopup="true" aria-expanded="true"
                                    title="{{vm.TOOLTIP_TILES_MESSAGES.CHART_OPTIONS}}">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </button>
                            <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right"
                                ng-class="{'dropdown-menu-1': w.default_chart_display_type == 'table'}"
                                aria-labelledby="chart-dropdown-{{$index}}">

                                <!-- TODO: delete ng-if="w.title !== 'Surveys'"  when Survey will doesn`t need anymore -->
                                <div ng-if="w.title !== 'Engagement Scores'">
                                    <li>
                                        <button ng-click="vm.openAlertsModal(w)" class="dropdown-item-btn"
                                                title="{{ getTranslation('alerts') }}">
                                            <span class="fa fa-bell"></span>
                                        </button>
                                    </li>
                                    <li>
                                        <button ng-click="vm.shareChart($index, w.title)" class="dropdown-item-btn"
                                                title="{{ getTranslation('share_chart') }}">
                                            <span class="fa fa-share-alt"></span>
                                        </button>
                                    </li>
                                    <li>
                                        <button ng-click="vm.exportChart($index)" class="dropdown-item-btn"
                                                title="{{ getTranslation('download_chart') }}">
                                            <span class="fa fa-download"></span>
                                        </button>
                                    </li>
                                    <li>
                                        <button ng-click="vm.removeChart(w.id)"
                                                title="{{ getTranslation('remove_chart') }}" class="dropdown-item-btn">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </li>
                                </div>

                                <!-- TODO: all div  when Survey will doesn`t need anymore -->
                                <div ng-if="w.title === 'Engagement Scores'">
                                    <li>
                                        <button ng-click="vm.exportChart($index)" class="dropdown-item-btn"
                                                title="{{ getTranslation('download_chart') }}">
                                            <span class="fa fa-download"></span>
                                        </button>
                                    </li>
                                    <li>
                                        <button ng-click="vm.removeSurveysChart($index, w)"
                                                title="{{ getTranslation('remove_chart') }}" class="dropdown-item-btn">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="chart-content" ng-if="!vm.isTable(w)">
                        <div add-chart id="fschart{{$index}}" status="isGridItemReady"></div>

                        <!-- TODO: delete ng-if="w.title !== 'Surveys'"  when Survey will doesn`t need anymore -->
                        <div ng-if="w.title !== 'Surveys'">
                            <!-- Chart navigation buttons -->
                            <div class="chart-button-group" ng-if="!w.is_kueri">
                                <a class=""
                                   href="#/drill-down/{{w.parent_id ? w.parent_id + '?dcid=' + w.id : w.chart_id}}">{{
                                    getTranslation('drilldown') }}</a>
                                <a class=""
                                   href="#/analytics/{{w.parent_id ? w.parent_id + '?dcid=' + w.id : w.chart_id}}">{{
                                    getTranslation('analytics') }}</a>
                                <a class=""
                                   href="#/predictive/{{w.parent_id ? w.parent_id + '?dcid=' + w.id : w.chart_id}}"
                                   ng-if="isAdmin">{{ getTranslation('predictive') }}</a>
                            </div>

                            <div class="chart-button-group" ng-if="w.is_kueri">
                                <a class="" href="#/nlp-search/{{w.nlp_query?w.nlp_query:w.title}}">{{
                                    getTranslation('drilldown') }}</a>
                                <a class="" href="#/nlp-search/{{w.nlp_query?w.nlp_query:w.title}}">{{
                                    getTranslation('analytics') }}</a>
                                <a class="" href="#/nlp-search/{{w.nlp_query?w.nlp_query:w.title}}" ng-if="isAdmin">{{
                                    getTranslation('predictive') }}</a>
                            </div>
                        </div>
                        <!-- TODO: all div  when Survey will doesn`t need anymore -->
                        <div ng-if="w.title === 'Surveys'">
                            <!-- Chart navigation buttons -->
                            <div class="chart-button-group">
                                <a class="" href="#/drill-down-surveys/{{w.id}}">{{getTranslation('drilldown')}}</a>
                                <a class="" href="#/analitics-surveys/{{w.id}}">{{getTranslation('analytics')}}</a>
                                <a class="" ng-if="isAdmin" href="#/drill-down-surveys/{{w.id}}">{{getTranslation('predictive')}}</a>
                            </div>

                        </div>
                    </div>

                    <div class="chart-content table" ng-if="vm.isTable(w)">
                        <div id="grid" class="nlp">
                            <div class="grid-row first">
                                <div class="grid-cell" ng-repeat="(key, val) in w.chart_data[0]"
                                     title="{{ key | capitalizeFilter }}">
                                    {{ key | capitalizeFilter }}
                                </div>
                            </div>

                            <div class="grid-row" ng-repeat="result in w.chart_data | limitTo:3">
                                <div class="grid-cell" ng-repeat="(key, val) in result">{{val}}</div>
                            </div>
                        </div>


                        <!-- Chart navigation buttons -->
                        <div class="chart-button-group">
                            <a class="" href="#/nlp-search/{{w.title}}">{{ getTranslation('drilldown') }}</a>
                            <a class="" href="#/nlp-search/{{w.title}}">{{ getTranslation('analytics') }}</a>
                            <a class="" href="#/nlp-search/{{w.title}}">{{ getTranslation('predictive') }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
