$gray:  #d4d4d4;
$blue:  #005075;
$beige: #f5f5dc;
$white: #fff;

#summary {

  .modeling-container {
    white-space: nowrap;
    overflow: hidden;
    min-width: 120px;
  }

  .cell-input {
    display:inline-block;
    width: 80%;
  }

  .icons-container {
    display:inline-block;
    min-width: 30px;
    vertical-align: middle
  }

  .button-group {
    margin-top: 20px;
  }

  .hide {
    display: none;
  }

  .percent{
    &:after {
      content: '%';
    }
  }

  .form-control {
    display: inline-block;
    width: 80%;
    padding: 6px;
  }

  a {
    cursor: pointer;
    font-size: 18px;
  }

  .fa {
    padding: 0 5px;
  }

  .fa-refresh {
    cursor: pointer;
  }
}
