<div class="modal-metric-history trendata-modal">
    <div class="modal-header">
        <h3>{{ getTranslation('metric_history') }}</h3>
        <span>{{ getTranslation('show_metrics_of_previous_time_periods') }}</span>
    </div>

    <div class="select-period">
        <select ng-model="vm.period" size="17" ng-options="item as item.title for item in vm.periods" class="form-control">
        </select>
    </div>

    <div class="modal-buttons">
        <button class="btn btn-xlpad btn-default" ng-click="$close()">{{ getTranslation('cancel') }}</button>
        <button class="btn btn-xlpad btn-primary" type="button" ng-click="vm.selectPeriod()">{{ getTranslation('ok') }}</button>
    </div>

    <div class="custom-period-modal" ng-show="vm.showCustomDatepicker">
        <h4>{{ getTranslation('select_dates') }}</h4>
        <div class="group-flex">
            <div class="input-group">
                <span class="input-group-addon">{{ getTranslation('from') }}<sup>*</sup> :</span>
                <input type="text" class="form-control" uib-datepicker-popup name="startDate"
                       ng-model="vm.period.start" is-open="vm.open.start" ng-click="vm.toggleDatePicker('start')"
                       datepicker-options="vm.datePickerOptions" close-text="{{ getTranslation('close') }}">
                <span class="input-group-addon cursor" ng-click="vm.toggleDatePicker('start')">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>

            <div class="input-group">
                <span class="input-group-addon">{{ getTranslation('to') }}<sup>*</sup> :</span>
                <input type="text" class="form-control" uib-datepicker-popup name="endDate"
                       ng-model="vm.period.end" is-open="vm.open.end" ng-click="vm.toggleDatePicker('end')"
                       datepicker-options="vm.datePickerOptions" close-text="{{ getTranslation('close') }}">
                <span class="input-group-addon cursor" ng-click="vm.toggleDatePicker('end')">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="error-message">{{vm.errorMessage}}</div>
        <div class="modal-buttons">
            <button class="btn btn-xlpad btn-default" ng-click="vm.showCustomDatepicker = false">{{ getTranslation('cancel') }}</button>
            <button class="btn btn-xlpad btn-primary" type="button" ng-click="vm.checkDates(vm.period)">{{ getTranslation('ok') }}</button>
        </div>
    </div>
</div>