#users-grid {
  .grid-limit {
    margin: 10px;

    span {
      font-size: 16px;
      padding-right: 10px;
    }
  }

  label {
    padding: 5px;
    cursor: pointer;
    color: #005075;
  }

  input {
    display: none;

    &:checked + label {
      background-color: #005075;
      color: #fff;
    }
  }

  .check {
    justify-content: center;
    flex: 0;
    flex-basis: 40px;
  }
}