<!-- Chart -->
<div class="chart-2 chart-grid margin-negative-20">
    <!-- Chart Header -->
    <div class="chart-header clearfix">
        <!--&lt;!&ndash; Custom Controls &ndash;&gt;-->
        <div class="pull-right user-grid-controls">
            <i ng-if="checkUsersSettings()" class="fa fa-user-plus" ng-click="vm.addUser()" title="{{ getTranslation('add_new_user') }}"></i>
            <!--<i class="fa fa-user-times"  ng-click="vm.showConfirm(0);"  title="{{vm.TOOLTIP_MESSAGES.USER_MANAGEMENT.SUSPEND_USER}}"></i>
            <i class="fa fa-graduation-cap"   title="{{vm.TOOLTIP_MESSAGES.USER_MANAGEMENT.SUSPEND_USER}}"></i>
            <i class="fa fa-trash" ng-click="vm.showConfirm(2);"></i>-->
            <!--<i class="fa fa-trash" title="{{vm.TOOLTIP_MESSAGES.USER_MANAGEMENT.DELETE_USER}}"></i>-->
        </div>

        <!--&lt;!&ndash;-->
        <h2>{{ getTranslation('users_list') }}</h2>
        <!--&ndash;&gt;-->
    </div>
    <!-- Chart content -->
    <div class="chart-content tren-ui-grid-pagination clearfix">

        <div class="chart-row" ng-if="userData.data.length">
            <select ng-model="vm.currentSelect" ng-change="vm.bulkAction(vm.currentSelect)">
                <option ng-repeat="value in vm.selectOptions" value="{{value}}">{{value}}</option>
            </select>

            <label class="inactive">
                <input type="checkbox" ng-model="vm.showInactive" id="inactive">
                Show inactive users
            </label>
        </div>
        <users-grid inactive="vm.showInactive" users="userData.data"></users-grid>

        <div class="chart-row" ng-if="userData.data.length">
            <select ng-model="vm.currentSelect" ng-change="vm.bulkAction(vm.currentSelect)">
                <option ng-repeat="value in vm.selectOptions" value="{{value}}">{{value}}</option>
            </select>
        </div>
    </div>
</div>
