// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-a-d-p-name: 'ADP';
$-a-d-p-x: 264px;
$-a-d-p-y: 223px;
$-a-d-p-offset-x: -264px;
$-a-d-p-offset-y: -223px;
$-a-d-p-width: 99px;
$-a-d-p-height: 45px;
$-a-d-p-total-width: 431px;
$-a-d-p-total-height: 346px;
$-a-d-p-image: 'sprite.png';
$-a-d-p: (264px, 223px, -264px, -223px, 99px, 45px, 431px, 346px, 'sprite.png', 'ADP', );
$-deltek-name: 'Deltek';
$-deltek-x: 253px;
$-deltek-y: 0px;
$-deltek-offset-x: -253px;
$-deltek-offset-y: 0px;
$-deltek-width: 178px;
$-deltek-height: 45px;
$-deltek-total-width: 431px;
$-deltek-total-height: 346px;
$-deltek-image: 'sprite.png';
$-deltek: (253px, 0px, -253px, 0px, 178px, 45px, 431px, 346px, 'sprite.png', 'Deltek', );
$-exponent-h-r-name: 'ExponentHR';
$-exponent-h-r-x: 0px;
$-exponent-h-r-y: 175px;
$-exponent-h-r-offset-x: 0px;
$-exponent-h-r-offset-y: -175px;
$-exponent-h-r-width: 199px;
$-exponent-h-r-height: 45px;
$-exponent-h-r-total-width: 431px;
$-exponent-h-r-total-height: 346px;
$-exponent-h-r-image: 'sprite.png';
$-exponent-h-r: (0px, 175px, 0px, -175px, 199px, 45px, 431px, 346px, 'sprite.png', 'ExponentHR', );
$-people-soft-name: 'PeopleSoft';
$-people-soft-x: 0px;
$-people-soft-y: 223px;
$-people-soft-offset-x: 0px;
$-people-soft-offset-y: -223px;
$-people-soft-width: 138px;
$-people-soft-height: 45px;
$-people-soft-total-width: 431px;
$-people-soft-total-height: 346px;
$-people-soft-image: 'sprite.png';
$-people-soft: (0px, 223px, 0px, -223px, 138px, 45px, 431px, 346px, 'sprite.png', 'PeopleSoft', );
$-s-a-p-h-r-name: 'SAP_HR';
$-s-a-p-h-r-x: 253px;
$-s-a-p-h-r-y: 96px;
$-s-a-p-h-r-offset-x: -253px;
$-s-a-p-h-r-offset-y: -96px;
$-s-a-p-h-r-width: 138px;
$-s-a-p-h-r-height: 45px;
$-s-a-p-h-r-total-width: 431px;
$-s-a-p-h-r-total-height: 346px;
$-s-a-p-h-r-image: 'sprite.png';
$-s-a-p-h-r: (253px, 96px, -253px, -96px, 138px, 45px, 431px, 346px, 'sprite.png', 'SAP_HR', );
$-t-u-f-f-name: 'TUFF';
$-t-u-f-f-x: 253px;
$-t-u-f-f-y: 48px;
$-t-u-f-f-offset-x: -253px;
$-t-u-f-f-offset-y: -48px;
$-t-u-f-f-width: 169px;
$-t-u-f-f-height: 45px;
$-t-u-f-f-total-width: 431px;
$-t-u-f-f-total-height: 346px;
$-t-u-f-f-image: 'sprite.png';
$-t-u-f-f: (253px, 48px, -253px, -48px, 169px, 45px, 431px, 346px, 'sprite.png', 'TUFF', );
$-ulti-pro-name: 'UltiPro';
$-ulti-pro-x: 141px;
$-ulti-pro-y: 223px;
$-ulti-pro-offset-x: -141px;
$-ulti-pro-offset-y: -223px;
$-ulti-pro-width: 120px;
$-ulti-pro-height: 45px;
$-ulti-pro-total-width: 431px;
$-ulti-pro-total-height: 346px;
$-ulti-pro-image: 'sprite.png';
$-ulti-pro: (141px, 223px, -141px, -223px, 120px, 45px, 431px, 346px, 'sprite.png', 'UltiPro', );
$-workday-name: 'Workday';
$-workday-x: 253px;
$-workday-y: 144px;
$-workday-offset-x: -253px;
$-workday-offset-y: -144px;
$-workday-width: 138px;
$-workday-height: 45px;
$-workday-total-width: 431px;
$-workday-total-height: 346px;
$-workday-image: 'sprite.png';
$-workday: (253px, 144px, -253px, -144px, 138px, 45px, 431px, 346px, 'sprite.png', 'Workday', );
$bar-name: 'bar';
$bar-x: 0px;
$bar-y: 103px;
$bar-offset-x: 0px;
$bar-offset-y: -103px;
$bar-width: 153px;
$bar-height: 69px;
$bar-total-width: 431px;
$bar-total-height: 346px;
$bar-image: 'sprite.png';
$bar: (0px, 103px, 0px, -103px, 153px, 69px, 431px, 346px, 'sprite.png', 'bar', );
$donut-name: 'donut';
$donut-x: 0px;
$donut-y: 271px;
$donut-offset-x: 0px;
$donut-offset-y: -271px;
$donut-width: 79px;
$donut-height: 75px;
$donut-total-width: 431px;
$donut-total-height: 346px;
$donut-image: 'sprite.png';
$donut: (0px, 271px, 0px, -271px, 79px, 75px, 431px, 346px, 'sprite.png', 'donut', );
$main-logo-name: 'main_logo';
$main-logo-x: 0px;
$main-logo-y: 0px;
$main-logo-offset-x: 0px;
$main-logo-offset-y: 0px;
$main-logo-width: 250px;
$main-logo-height: 100px;
$main-logo-total-width: 431px;
$main-logo-total-height: 346px;
$main-logo-image: 'sprite.png';
$main-logo: (0px, 0px, 0px, 0px, 250px, 100px, 431px, 346px, 'sprite.png', 'main_logo', );
$spritesheet-width: 431px;
$spritesheet-height: 346px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($-a-d-p, $-deltek, $-exponent-h-r, $-people-soft, $-s-a-p-h-r, $-t-u-f-f, $-ulti-pro, $-workday, $bar, $donut, $main-logo, );
$spritesheet: (431px, 346px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
