// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-a-d-p-name: 'ADP';
$-a-d-p-x: 264px;
$-a-d-p-y: 402px;
$-a-d-p-offset-x: -264px;
$-a-d-p-offset-y: -402px;
$-a-d-p-width: 99px;
$-a-d-p-height: 45px;
$-a-d-p-total-width: 542px;
$-a-d-p-total-height: 447px;
$-a-d-p-image: 'sprite.png';
$-a-d-p: (264px, 402px, -264px, -402px, 99px, 45px, 542px, 447px, 'sprite.png', 'ADP', );
$-deltek-name: 'Deltek';
$-deltek-x: 202px;
$-deltek-y: 306px;
$-deltek-offset-x: -202px;
$-deltek-offset-y: -306px;
$-deltek-width: 178px;
$-deltek-height: 45px;
$-deltek-total-width: 542px;
$-deltek-total-height: 447px;
$-deltek-image: 'sprite.png';
$-deltek: (202px, 306px, -202px, -306px, 178px, 45px, 542px, 447px, 'sprite.png', 'Deltek', );
$-exponent-h-r-name: 'ExponentHR';
$-exponent-h-r-x: 0px;
$-exponent-h-r-y: 306px;
$-exponent-h-r-offset-x: 0px;
$-exponent-h-r-offset-y: -306px;
$-exponent-h-r-width: 199px;
$-exponent-h-r-height: 45px;
$-exponent-h-r-total-width: 542px;
$-exponent-h-r-total-height: 447px;
$-exponent-h-r-image: 'sprite.png';
$-exponent-h-r: (0px, 306px, 0px, -306px, 199px, 45px, 542px, 447px, 'sprite.png', 'ExponentHR', );
$-people-soft-name: 'PeopleSoft';
$-people-soft-x: 172px;
$-people-soft-y: 354px;
$-people-soft-offset-x: -172px;
$-people-soft-offset-y: -354px;
$-people-soft-width: 138px;
$-people-soft-height: 45px;
$-people-soft-total-width: 542px;
$-people-soft-total-height: 447px;
$-people-soft-image: 'sprite.png';
$-people-soft: (172px, 354px, -172px, -354px, 138px, 45px, 542px, 447px, 'sprite.png', 'PeopleSoft', );
$-s-a-p-h-r-name: 'SAP_HR';
$-s-a-p-h-r-x: 313px;
$-s-a-p-h-r-y: 354px;
$-s-a-p-h-r-offset-x: -313px;
$-s-a-p-h-r-offset-y: -354px;
$-s-a-p-h-r-width: 138px;
$-s-a-p-h-r-height: 45px;
$-s-a-p-h-r-total-width: 542px;
$-s-a-p-h-r-total-height: 447px;
$-s-a-p-h-r-image: 'sprite.png';
$-s-a-p-h-r: (313px, 354px, -313px, -354px, 138px, 45px, 542px, 447px, 'sprite.png', 'SAP_HR', );
$-t-u-f-f-name: 'TUFF';
$-t-u-f-f-x: 0px;
$-t-u-f-f-y: 354px;
$-t-u-f-f-offset-x: 0px;
$-t-u-f-f-offset-y: -354px;
$-t-u-f-f-width: 169px;
$-t-u-f-f-height: 45px;
$-t-u-f-f-total-width: 542px;
$-t-u-f-f-total-height: 447px;
$-t-u-f-f-image: 'sprite.png';
$-t-u-f-f: (0px, 354px, 0px, -354px, 169px, 45px, 542px, 447px, 'sprite.png', 'TUFF', );
$-ulti-pro-name: 'UltiPro';
$-ulti-pro-x: 141px;
$-ulti-pro-y: 402px;
$-ulti-pro-offset-x: -141px;
$-ulti-pro-offset-y: -402px;
$-ulti-pro-width: 120px;
$-ulti-pro-height: 45px;
$-ulti-pro-total-width: 542px;
$-ulti-pro-total-height: 447px;
$-ulti-pro-image: 'sprite.png';
$-ulti-pro: (141px, 402px, -141px, -402px, 120px, 45px, 542px, 447px, 'sprite.png', 'UltiPro', );
$-workday-name: 'Workday';
$-workday-x: 0px;
$-workday-y: 402px;
$-workday-offset-x: 0px;
$-workday-offset-y: -402px;
$-workday-width: 138px;
$-workday-height: 45px;
$-workday-total-width: 542px;
$-workday-total-height: 447px;
$-workday-image: 'sprite.png';
$-workday: (0px, 402px, 0px, -402px, 138px, 45px, 542px, 447px, 'sprite.png', 'Workday', );
$bar-name: 'bar';
$bar-x: 253px;
$bar-y: 203px;
$bar-offset-x: -253px;
$bar-offset-y: -203px;
$bar-width: 153px;
$bar-height: 69px;
$bar-total-width: 542px;
$bar-total-height: 447px;
$bar-image: 'sprite.png';
$bar: (253px, 203px, -253px, -203px, 153px, 69px, 542px, 447px, 'sprite.png', 'bar', );
$donut-name: 'donut';
$donut-x: 463px;
$donut-y: 0px;
$donut-offset-x: -463px;
$donut-offset-y: 0px;
$donut-width: 79px;
$donut-height: 75px;
$donut-total-width: 542px;
$donut-total-height: 447px;
$donut-image: 'sprite.png';
$donut: (463px, 0px, -463px, 0px, 79px, 75px, 542px, 447px, 'sprite.png', 'donut', );
$formbtn-name: 'formbtn';
$formbtn-x: 0px;
$formbtn-y: 0px;
$formbtn-offset-x: 0px;
$formbtn-offset-y: 0px;
$formbtn-width: 460px;
$formbtn-height: 200px;
$formbtn-total-width: 542px;
$formbtn-total-height: 447px;
$formbtn-image: 'sprite.png';
$formbtn: (0px, 0px, 0px, 0px, 460px, 200px, 542px, 447px, 'sprite.png', 'formbtn', );
$main-logo-name: 'main_logo';
$main-logo-x: 0px;
$main-logo-y: 203px;
$main-logo-offset-x: 0px;
$main-logo-offset-y: -203px;
$main-logo-width: 250px;
$main-logo-height: 100px;
$main-logo-total-width: 542px;
$main-logo-total-height: 447px;
$main-logo-image: 'sprite.png';
$main-logo: (0px, 203px, 0px, -203px, 250px, 100px, 542px, 447px, 'sprite.png', 'main_logo', );
$spritesheet-width: 542px;
$spritesheet-height: 447px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($-a-d-p, $-deltek, $-exponent-h-r, $-people-soft, $-s-a-p-h-r, $-t-u-f-f, $-ulti-pro, $-workday, $bar, $donut, $formbtn, $main-logo, );
$spritesheet: (542px, 447px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
