<div style="margin: 40vh 35vw"  ng-if="vm.isLoading">
    <i class="fa fa-spinner fa-5x fa-spin"></i>
</div>

<!-- Chart -->
<div class="chart-2 chart-grid margin-negative-20" ng-if="!vm.isLoading">


    <!-- Chart Header -->
    <div  class="chart-header clearfix" style="border-bottom: 1px solid lightgrey; margin-bottom: 25px;">
        <h2>{{ getTranslation('surveys') }}</h2>
    </div>

    <div class="row connector-btns" style="margin-bottom: 20px">
        <div class="col-sm-12 text-center">
            <button class="btn btn-xlpad btn-primary" ng-click="vm.uploadData()">
                <i class="fa fa-cloud-upload"></i>
                {{ getTranslation('upload_file') }}
            </button>
        </div>
    </div>



    <div id="grid">
        <div class="table-container">
            <table>
                <tr>
                    <th ng-repeat="column in  vm.columns">
                        {{column | capitalizeFilter}}
                    </th>
                </tr>

                <tr ng-repeat-start="question in vm.questions">
                    <td colspan="{{vm.columns.length}}"
                        ng-style="{'background-color': 'lightGrey', 'color': '#000', 'font-size': '20px'}">
                        {{question.title}}
                    </td>
                </tr>
                <tr ng-repeat-end ng-repeat="data in question.question"
                    ng-style="{'background-color': $even ? 'beige' : '#fff'}">

                    <td style="text-align: left">{{data.title}}</td>

                    <td ng-repeat="score in [1,2,3,4,5,0]" style=" cursor: pointer;" ng-click="data['score']=score">
                        <label ng-class="{'fa fa-check': data['score'] === $index+1 || (!data['score'] && $index == 5)}">
                            <input type="radio"
                                   ng-model="data['score']"
                                   ng-value="score"
                                   style="display:inline-block; position: absolute; opacity: 0"/>
                        </label>
                    </td>

                </tr>

            </table>
            <div style="color:red; font-size: 18px; text-align: right; padding-top: 10px">Engagement Score
                {{vm.getScoreSum()}}
            </div>
        </div>
    </div>

</div>


