#grid {
  font-size: 11px;
  background-color: $white;
  margin-bottom: 5px;

  .grid-row {
    display: flex;

    border-bottom: 1px solid $gray;

    &.first {
      border-top: 1px solid $gray;
      background-color: $blue;
      text-align: left;
      color: $white;
      font-weight: 600;

      .grid-cell {
        cursor: pointer;
      }
    }

    &:nth-child(even) {
      background-color: $beige;
    }
  }

  .grid-cell {
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    flex: 2;
    border-right: 1px solid $gray;

    &:first-child {
      flex: 3;
      border-left: 1px solid $gray;
      text-align: left;
    }
  }

  .grid-bottom {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    border: 1px solid black;

    select {
      margin: 0 10px;
    }
  }

  .grid-manage {
    font-size: 12px;
    color: $blue;
    cursor: pointer;
  }

  label {
    padding: 5px;
    cursor: pointer;
    color: #005075;
  }

  input {
    display: none;

    &:checked + label {
      background-color: #005075;
      color: #fff;
    }
  }

  .pagination {
    margin: 0;
  }
}

#table-grid{
  font-size: 11px;
  background-color: $white;
  margin-bottom: 5px;

  .table-container{
    overflow:auto;
    table{
      width:100%;
      th{
        background-color: $blue;
        color: #fff;
        vertical-align:middle;
        white-space:nowrap;
        text-align: center;
      }
      th i{
        vertical-align:middle;
        padding-left: 10px;
      }
      tr:nth-child(even) {
        background-color: $beige;
      }
      tr,th,td{
        border:1px solid $gray;
        padding: 10px;
        text-align:center;
        vertical-align:middle;
      }
      td:first-child{
        white-space:nowrap;
      }
    }
  }
  .grid-bottom {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    border: 1px solid black;

    select {
      margin: 0 10px;
    }
  }

  .grid-manage {
    font-size: 12px;
    color: $blue;
    cursor: pointer;
  }

  label {
    padding: 5px;
    cursor: pointer;
    color: #005075;
  }

  input {
    display: none;

    &:checked + label {
      background-color: #005075;
      color: #fff;
    }
  }

  .pagination {
    margin: 0;
  }
}