<div>
    <div class="modal-body configure-connector-modal">
        <h4>{{ getTranslation('upload_file') }}</h4>

        <br>

        <form name="">
            <label class="btn btn-default btn-file">
                Browse <input type="file" upload-csv>
            </label>

            <span class="file-name-holder" ng-bind="vm.fileName" ng-if="vm.fileName"></span>

            <div class="loader" ng-if="vm.isLoading"></div>

            <ul class="nav" ng-if="vm.uploadErrors">
                <div class="upload-errors-count">{{vm.uploadErrorsCount}} Errors Found!</div>
                <li class="alert upload-errors-line text-left" ng-repeat="(line, errors) in vm.uploadErrors">
                    <div class="line-number">
                        <span class="fa fa-exclamation-circle"></span>
                        {{line}}
                    </div>
                    <ul>
                        <li ng-repeat="error in errors">{{error}}</li>
                    </ul>
                </li>
            </ul>

            <div class="button-group form-group">
                <button class="btn btn-xlpad btn-default btn-sm" ng-disabled="vm.isLoading" ng-click="$close()">{{ getTranslation('cancel') }}</button>
                <button class="btn btn-xlpad btn-primary btn-sm" ng-disabled="vm.isLoading" ng-click="vm.save()">{{ getTranslation('save') }}</button>
            </div>
        </form>
    </div>
</div>