<html>
<body>
<div>

    <table>
        <tr>
            <td>Hi {{name}},</td>
        </tr>
        <tr>
            <td><br/><br/>
{{message}}
                

<br/><br>
<p style='padding:20px;margin:30px;background:#CCC;'>
Username: {{email}}<br/><br/>
Password: {{password}};
</p>
            <td>
        </tr>
    </table>
    
</div>
</body>
</html>