<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{background:#CCC;color:red;}
        .lowercase {
          text-transform: lowercase;
         }
         .uppercase {
          text-transform: uppercase;
         }
         .capitalize {
          text-transform: capitalize;
         }
    </style>
</head>
<body>
<div>

    <table>
        <tr>
            <td >Hi <span class='capitalize'>{{name}},</span></td>
        </tr>
        <tr>
            <td >
               <span style='color:green;'> {{message}}</span>
            <td>
        </tr>
    </table>
    
</div>
</body>
</html>