<div class="form-group has-feedback">
    <form name="search" ng-submit="vm.submit()">

        <input type="text"
               class="form-control form-control-small"
               placeholder="{{ getTranslation('search_the_system_in_natural_language') }}"
               ng-model="vm.text"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
               uib-typeahead="query for query in vm.getQueries($viewValue)"
               >

        <a class="btn button-icon question" href="#/nlp-overview"><i class="fa fa-question"></i></a>
        <button type="submit" class="btn button-icon search"><i class="fa fa-search"></i></button>

    </form>
</div>