<div class="chart-loader" ng-show="vm.showSpinner" style="margin: 40vh 35vw;">
    <i class="fa fa-spinner fa-5x fa-spin"></i>
</div>
<div id="drill-down" ng-show="vm.showData">
    <!--<h3 class="gi-heading-spacing-1">{{ getTranslation('turnover_trending_view') }}</h3>-->

    <!-- Gridstack -->
    <div gridstack class="grid-stack grid1" is-chart-resizing="isChartResizing" options="options"
         on-window-resize="onWindowResize(gridstack)" on-change="onChange(event,items)"
         on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)"
         on-resize-start="onResizeStart(event,ui)"
         on-resize-stop="onResizeStop(event,ui)">

        <!-- item -->
        <div gridstack-item data-grid-item-index="{{$index}}" ng-repeat="w in widgets track by $index" class="grid-stack-item"
             gs-item-x="w.x"
             gs-item-y="w.y"
             gs-item-width="w.width"
             gs-item-height="w.height"
             gs-item-min-width="vm.TILE_MIN_WIDTH"
             gs-item-min-height="vm.TILE_MIN_HEIGHT_WITH_FILTERS"
             gs-item-autopos="1"
             on-item-added="onItemAdded(item)"
             on-item-removed="onItemRemoved(item)">

            <div class="grid-stack-item-content">

                <div class="chart">
                    <div class="chart-header">
                        <h2>{{w.title}}</h2>

                        <!--<p class="inline-block">{{getTranslation(vm.createToken(w.title, 'analytics')) || ''}}</p>-->
                        <!-- Chart option menu -->

                        <!-- Chart filters -->

                        <div class="chart-filters well well-sm" ng-class="{expanded: vm.activeTab > 0}">
                            <div class="chart-header-tab-title pull-left">
                                <span ng-if="vm.activeTab === 1">Settings</span>
                                <span ng-if="vm.activeTab === 2">Filters</span>
                            </div>

                            <div class="chart-header-buttons">

                                <span class="fa fa-cog" ng-class="{active: vm.activeTab === 1}" ng-click="resizeChart(1)" tooltip-placement="bottom-left" uib-tooltip="Settings"></span>
                                <span class="fa fa-search" ng-class="{active: vm.activeTab === 2}" ng-click="resizeChart(2)" tooltip-placement="bottom" uib-tooltip="Filters"></span>
                                <span class="fa fa-share-alt" ng-click="vm.shareChart($index, w.title, 'Analitics')" tooltip-placement="bottom" uib-tooltip="{{ getTranslation('share_chart') }}"></span>
                                <span class="fa fa-download" ng-click="vm.exportChart($index)" tooltip-placement="bottom" uib-tooltip="{{ getTranslation('download_chart') }}"></span>
                                <span ng-if="videoUrl" class="fa fa-video-camera" ng-click="vm.playVideo()" tooltip-placement="bottom-right" uib-tooltip="{{getTranslation('help_video')}}"></span>
                            </div>

                            <div class="chart-header-tab" ng-show="vm.activeTab === 1">

                                <div class="chart-filter">
                                    <label >{{ getTranslation('chart_view') }}:</label>
                                    <select ng-model="vm.view"
                                            ng-change="vm.updateChart('change_chart_view')">
                                        <option ng-repeat="option in chartViews"
                                                value="{{option}}">
                                            {{ vm.getFilterName(option) }}
                                        </option>
                                    </select>
                                </div>

                                <div class="chart-filter">
                                    <label >Time Span:</label>
                                    <select ng-model="vm.timeSpan"
                                            ng-change="vm.updateChart()"
                                            ng-options="item as item.title for item in vm.timeSpans ">
                                    </select>
                                </div>

                                <div class="chart-filter pull-right" ng-show="vm.timeSpan.title === 'Custom'">
                                    <div class="group-flex analytics-custom-datepicker">
                                        <div class="input-group">
                                            <span class="input-group-addon">{{ getTranslation('from') }}<sup>*</sup> :</span>
                                            <input type="text" class="form-control" uib-datepicker-popup name="startDate"
                                                   ng-model="vm.customTimeSpan.start" is-open="vm.open.start" ng-click="vm.toggleDatePicker('start')"
                                                   datepicker-options="vm.datePickerOptions" close-text="{{ getTranslation('close') }}">
                                            <span class="input-group-addon cursor" ng-click="vm.toggleDatePicker('start')">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-addon">{{ getTranslation('to') }}<sup>*</sup> :</span>
                                            <input type="text" class="form-control" uib-datepicker-popup name="endDate"
                                                   ng-model="vm.customTimeSpan.end" is-open="vm.open.end" ng-click="vm.toggleDatePicker('end')"
                                                   datepicker-options="vm.datePickerOptions" close-text="{{ getTranslation('close') }}">
                                            <span class="input-group-addon cursor" ng-click="vm.toggleDatePicker('end')">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="error-message">{{vm.errorMessage}}</span>
                                    <span class="btn btn-primary pull-right" ng-click="vm.checkDates(vm.customTimeSpan)">OK</span>
                                </div>

                                <div class="chart-filter">
                                    <label >{{ getTranslation('vertical_axis') }}:</label>
                                    <select ng-model="vm.axis"
                                            ng-change="vm.updateChart('change_chart_view')">
                                        <option ng-repeat="option in verticalAxis"
                                                value="{{option}}">
                                            {{ vm.getFilterName(option) }}
                                        </option>
                                    </select>
                                </div>

                                <div class="chart-filter-checkbox">
                                    <label for="eventsOverlay">
                                        <input type="checkbox" ng-model="vm.annotation" ng-change="vm.toggleAnnotations()" id="eventsOverlay">
                                        {{ getTranslation('events_overlay') }}
                                    </label>
                                </div>

                                 <div class="chart-filter-checkbox">
                                    <label for="regressionAnalysis">
                                        <input type="checkbox" ng-model="vm.regression" ng-change="vm.updateChart()" id="regressionAnalysis">
                                        {{ getTranslation('regression_analysis') }}
                                    </label>
                                </div>
                            </div>

                            <div class="chart-header-tab" ng-show="vm.activeTab === 2">
                                <div class="btn-group"
                                     ng-repeat="(key, filter) in filters"
                                     uib-dropdown
                                     auto-close="outsideClick"
                                     ng-hide="key.split(' ')[0].toLowerCase() === 'custom' && !vm.showCustom">

                                    <label for="{{key + $index}}" class="btn btn-default">
                                        <input type="checkbox" id="{{key + $index}}" ng-model="filters[key].all" ng-change="vm.toggleCheckbox(filter, filters[key].all)">
                                        {{ vm.getFilterName(key) | capitalizeFilter }}
                                    </label>

                                    <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li>
                                            <input class="form-control" type="text" placeholder="{{ getTranslation('search_by_label') }}" ng-model="filter.label">
                                        </li>
                                        <li ng-repeat="(name, value) in filter.values | filterObjectKeys:filter.label">
                                            <label for="{{value + key + $index}}">{{ value || ('--' + getTranslation('blank') + '--') }}
                                                <input type="checkbox" id="{{value + key + $index}}" ng-model="filters[key].values[value]" ng-change="vm.toggleCheckbox(filter)">
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="chart-filter-settings" ng-click="vm.showCustom = !vm.showCustom">
                                    <input type="checkbox" ng-checked="vm.showCustom">
                                    <span>Show Custom Fields</span>
                                </div>

                                <div class="chart-filter-group">
                                    <div ng-repeat="(key, filter) in filters" ng-hide="key.split(' ')[0].toLowerCase() === 'custom' && !vm.showCustom">
                                        <label class="filter-group">{{vm.getFilterName(key) | capitalizeFilter}} :</label>
                                        <span class="filter-value"
                                              ng-repeat="(name, value) in vm.filteredValues(filter.values) track by $index"
                                              ng-show="value && (filter.expanded || $index < vm.maxFiltersCount)">{{name || ('--' + getTranslation('blank') + '--')}};
                                        </span>
                                        <span ng-if="vm.showMoreLessLink(filter.values)">
                                            <a class="text-danger" ng-hide="filter.expanded" style="cursor:pointer;" ng-click="vm.showMoreLess(filter, true)"><b>{{getTranslation('show_more')}} ...</b></a>
                                        <a class="text-danger" ng-show="filter.expanded" style="cursor:pointer;" ng-click="vm.showMoreLess(filter, false)"><b>{{getTranslation('show_less')}} ...</b></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="chart-content">
                        <div class="chart-loader" ng-show="vm.isLoading">
                            <i class="fa chart-loader-icon"></i>
                        </div>

                        <div add-chart id="fschart{{$index}}" status="isGridItemReady"></div>

                        <!-- Chart navigation buttons -->
                        <div class="chart-button-group">
                            <a class="" href="#/drill-down/{{w.id}}">{{ getTranslation('drilldown') }}</a>
                            <a class="" href="#/predictive/{{w.id}}" ng-if="isAdmin">{{ getTranslation('predictive') }}</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="chart chart-grid">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{active: vm.activeGrid == 0}" ng-click="vm.setValue('activeGrid', 0)"><a>{{ getTranslation('individual') }}</a></li>
            <li role="presentation" ng-class="{active: vm.activeGrid == 1}" ng-click="vm.setValue('activeGrid', 1)"><a>{{ getTranslation('summary') }}</a></li>
        </ul>

        <common-grid users="users" total-users="totalUsers" ng-show="vm.activeGrid === 0" chart-id="chartId" custom-fields="customFields"></common-grid>

            <div class="chart-content clearfix" ng-show="vm.activeGrid == 1">

                <div id="grid">
                    <div class="grid-row first">
                        <div class="grid-cell"></div>
                        <div class="grid-cell" ng-repeat="month in [6,5,4,3,2,1]">
                            {{ vm.getMonths(month) }}
                        </div>
                    </div>

                <div class="grid-row" ng-repeat="data in vm.summary">
                    <div class="grid-cell">{{data.name}}</div>
                    <div class="grid-cell" ng-repeat="month in [6,5,4,3,2,1]">
                        {{data[vm.getMonths(month)]}}
                    </div>
                </div>

                <div class="text-center with-padding">
                    <a ng-click="exportSummaryToCsv()" role="button">Export to CSV</a>
                </div>
            </div>
        </div>
    </div>
</div>