<!-- Chart -->
<div class="chart-2 chart-grid margin-negative-20">
    <!-- Chart Header -->
    <div class="chart-header clearfix">

        <h2>{{ getTranslation('languages') }}</h2>

    </div>

    <!-- Chart content -->
    <div class="chart-content tren-ui-grid-pagination clearfix">

        <div class="chart-row">

            <label>{{ getTranslation('select_language') }}</label>
            <select>
                <option value="English">{{ getTranslation('english') }}</option>
            </select>

            <div class="search-bar">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="vm.defaultSearch" placeholder="{{ getTranslation('search_for_token') }}">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button">{{ getTranslation('search') }}</button>
                        </span>
                </div>
            </div>

            </div>

        <div id="grid">
            <div class="grid-row first">
                <div class="grid-cell">{{getTranslation('token_name')}}</div>
                <div class="grid-cell">{{getTranslation('token_translation')}}</div>
                <div class="grid-cell">{{getTranslation('type')}}</div>
                <div class="grid-cell">{{getTranslation('actions')}}</div>
            </div>

            <div class="grid-row" ng-repeat="token in vm.translates">
                <div class="grid-cell" ng-repeat="(key, val) in token">{{val}}</div>
                <div class="grid-cell">
                    <button type="button" class="btn btn-xs action-edit" title="{{ getTranslation('edit_user') }}" ng-click="vm.editToken(token)"> <i class="fa fa-pencil"></i></button>
                </div>
            </div>

        </div>

        <ul class="pull-right" uib-pagination
            boundary-link-numbers="true"
            items-per-page="vm.pagination.page_size"
            total-items=""
            ng-model="vm.pagination.page_number"
            max-size="5"
            previous-text="&lsaquo;"
            next-text="&rsaquo;">
        </ul>
    </div>
</div>
