<div>
    <div class="modal-body user-management-modal">
        <form role="form" method="post" name="tokenRowEditForm"> <!--ng-submit="vm.addUser(userRowEditForm, vm.addUserFields)"-->

            <div class="form-group">
                <label for="tokenTranslation" ng-bind="vm.entity.token_name"></label>
            </div>

            <div class="form-group">
                <textarea class="form-control form-control-primary" placeholder="{{ getTranslation('token_translation') }}" ng-model="vm.entity.token_translation" name="tokenTranslation" id="tokenTranslation" ng-required="true"></textarea>
            </div>

            <div class="button-group form-group">
                <button class="btn btn-xlpad btn-warning" type="button" ng-click="$close()">{{ getTranslation('cancel') }}</button>
                <button class="btn btn-xlpad btn-success" type="submit">{{ getTranslation('save') }}</button>
            </div>

        </form>
    </div>
</div>
